/* CSS Forms */
form {
    padding: 0;
    margin: 0;
}
fieldset {
    margin: 0;
    padding: .5em;
    border: 1px solid #e5e5e5;
}
legend {
    margin: 0px 0 0px 0;
	padding: 0px 0px;
	color: #1e303a;
	font-weight: bold;
}
dl label {
    float: left;
    text-align: left;
    margin-right: 10px;
    display: block;
	width: 10em;
}
select {
    border: 1px solid #333333;
    width: 178px;
    padding: 3px;
}
select.short {
	font-family: serif;
    border: 1px solid #333333;
    width: 4em;
    padding: 3px;
}
input[type=text],input[type=password] {
	border: 1px solid #333333;
    width: 260px;
    padding: 5px 3px;
	margin-bottom: 10px;
}
input[type=text].player {
    width: 120px;
}

input[type=text].player-req {
    width: 120px;
	border: 1px solid maroon;
}

div.hplayer {
    width: 120px;
	float: left;
	text-align: center;
	padding: 0px 4px;
}

div.hplayer-first {
	margin-left: 40px;
}

div.hplayer-req {
	color: maroon;
}

div.hplayer-short {
    width: 50px;
}

.tundra .dijitDateTextBox {
    border: 1px solid #333333;
    width: 120px;
    padding: 5px 3px;
}

.tundra .dijitDateTextBox input[type=text] {
    padding: 0;
    margin: 0;
}
input[type=submit] {
	margin-top: 10px;
}
textarea {
    border: 1px solid #d9d9d9;
	width: 100%;
	height: 100px;
	padding: 5px 3px;
	font: 1.0em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
ul.errors {
    padding: 5px;
    color: #d20037;
    background: #fff url("/images/layout/form-error-box-bg.gif") repeat-x;
}
.errors li {
	padding-left: 18px;
    background: url("/images/layout/error-up-arrow.gif") no-repeat 0 50%;
}
form p.error {
    padding: 5px !important;
    color: #d20037;
    background: #fff url("/images/layout/form-error-box-bg.gif") repeat-x;
}