.required { 
	color: maroon; 
	font-weight: bold;
}

#fieldset-player0 legend {
	color: maroon; 
}

div#errors {
	color: red;
	padding: 5px;
}

.errors {
	color: red;
	padding: 5px;
}

form#regform table tr {
	background-color: #CCCCCC;
}

form#regform table#players tr {
	background-color: #EEEEEE;
}

input#delete {
	float: right;
	background-color: red;
}

tr.cardrow {
	background-color: white;
}

tr.cardrow td {
	background-color: #CCCCCC;
}

tr.cardrow td.datarow {
	background-color: #EEEEEE;
}

.cardhead {
	background-color: #EEFFEE;
}

.cardrow1 {
	background-color: #EEEEEE;
}

.cardrow2 {
	background-color: #CCCCCC;
}