.required { 
	color: maroon; 
	font-weight: bold;
}

#fieldset-player0 legend {
	color: maroon; 
}

div#errors {
	color: red;
	padding: 5px;
}

.errors {
	color: red;
	padding: 5px;
}

form#regform table tr {
	background-color: #CCCCCC;
}

form#regform table#players tr {
	background-color: #EEEEEE;
}

input#delete {
	float: right;
	background-color: red;
}